# Ignore build files and compiled binaries
/build/
/CMakeCache.txt
/CMakeFiles/
/*.o
/*.a
/*.so
/*.exe
/*.out

# Ignore IDE and editor configuration files
.vscode/
.idea/
*.swp
*.swo

# Ignore GitHub Actions temporary files
.github/workflows/*.log
.github/workflows/*.cache

# Ignore debugging and log files
*.log
*.tmp
*.bak

# Ignore temporary image cache
img/cache/

/.vs/Chess/VSWorkspaceState.json
/Chess/out/build/x64-Debug
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/CMakeWorkspaceSettings.json
/.vs/cmake.db
/.vs/CMake Overview
/.vs/chess-ex1-DimonFiend/FileContentIndex
/.vs/chess-ex1-DimonFiend/v17/ipch/AutoPCH
/.vs/chess-ex1-DimonFiend/v17/Solution.VC.db
/.vs/chess-ex1-DimonFiend/v17/Browse.VC.opendb
/.vs/chess-ex1-DimonFiend/v17/Browse.VC.db-shm
/.vs/chess-ex1-DimonFiend/v17/Browse.VC.db-wal
/.vs/chess-ex1-DimonFiend/v17/Browse.VC.db
/.vs/chess-ex1-DimonFiend/v17/.wsuo
