# Ignore build files and compiled binaries
/build/
/CMakeCache.txt
/CMakeFiles/
Makefile
/cmake-build-debug/
Chess/cmake-build-debug/
/*.o
/*.a
/*.so
/*.exe
/*.out

# Ignore IDE and editor configuration files
.vscode/
.idea/
*.swp
*.swo

# Ignore GitHub Actions temporary files
.github/workflows/*.log
.github/workflows/*.cache

# Ignore debugging and log files
*.log
*.tmp
*.bak

# Ignore temporary image cache
img/cache/

